* {
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
} 

body {
    background-color: rgb(231, 193, 97);
}

/* **************
** HEADING 
************** */

header {
    border: 3px solid white;
    border-radius: 50px 50px 15px 15px;
    background-color: yellow;
    width: 50%;
    margin: auto;
}

h1 {
    text-align: center;
    color: royalblue;
    text-shadow: 2px 2px white;
    font-size: 1.8em;
}

h2 {
    font-size: 1.1em;
    text-align: center;
    color: royalblue;
    text-shadow: 2px 2px white;
}

/* **************
** QUESTION 
************** */

#question {
    width: 50%;
    padding: 1em;
    border: 3px solid chocolate;
    border-radius: 25px;
    background-color: #ffb59d;
    color: black;
    text-shadow: 1px 1px magenta;
    font-size: 1.2em;
    font-weight: bolder;
    margin: 1em auto;
    text-align: center;
}

/* **************
** ANSWERS 
************** */

#answer {
    width: 66%;
    margin: 1em auto;
    color: white;
    background-color: purple;
    border: 3px solid black;
    border-radius: 15px 15px 50px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 1.2em;
}

#answer ul {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;
    align-items: center;
    padding-inline-start: 0px;
}

#answer ul li {
    display: flex;
    /* width: 40%; */
    /* height: 3em; */
    color: black;
    background-color: yellow;
    border-radius: 1em;
    padding: .5em;
    text-align: center;
    margin: .6em;
    font-weight: bolder;
    word-wrap: normal;
}

li:hover {
    transform: scale(1.1);
}


/* **************
** SCOREBOARD 
************** */

#scores {
    display: flex;
    width: 58%;
    /* border: 1px darkslategray; */
    justify-content: center;
    margin: 1em auto;
}

#player1, #player2 {
    /* font-size: 1em; */
    width: 35%;
    color: white;
    background-color: darkgreen;
    border: 1px solid lightgreen;
    margin: .35em;
    text-align: center;
    /* border-radius: 5px 15px 50px 50px; */
}

#player1 {
    border-radius: 5px 25px 50px 50px;
}

#player2 {
    border-radius: 25px 5px 50px 50px;
}

h3 {
    word-wrap: normal;
    margin-bottom: .5em;
}

h4 {
    margin-top: 0;
    font-size: 1.75em;
}